<!--<template>
     
    <div id="rightColWrap">
        <div class="result"> 
            <h3><a v-bind:href="hyper_text">{{title}}</a> </h3>
            <p class="text">{{text}}</p>
            <p><a v-bind:href="hyper_text"></a>{{hyper_text}}</p>
        </div>
    </div>
</template>
<script type="text/babel">
    export default {
        props: ['title','text','hyper_text'],
        mounted() {
            console.log('Result mounted.');
            console.log(this.title[0]);
        }

    }
</script> !-->