<template>
    <div>
        <div id="searchArea">
            <form id="form" method="GET" @submit.prevent="submit">
                <input type="text" class="input" id="searchBar" name="searchBar" v-model="searchBar"/>
                <!--  <input type="submit" id="searchButton" name="searchButton"/> !-->
                <button @click.prevent="submit" type="button" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div v-if="show"class="col-xs-6 col-md-4">
                    <div class="dropDown box box-solid box-primary">
                        <div class="dropHeader dropOpen box-header with-border">Dynamic
                            ({{final_result.array_filter.length}})
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"
                                                                                           style="color: whitev "></i>
                                </button>
                            </div><!-- /.box-tools --></div>
                        <div class="box-body">
                            <ul>
                                <form v-on:submit.prevent="submit_filter">
                                    <li v-for="list in final_result.array_filter"><input type="checkbox" class="txt"
                                                                                         name="list_check[]"
                                                                                         :value="list"
                                                                                         v-model="final_result.array_filter_check"
                                                                                         @click="submit_filter"/>
                                        {{list.toUpperCase()}}
                                    </li>
                                </form>
                            </ul>
                        </div>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <div v-for="(item,index1) in final_result.array_result" class="box box-primary"> 
                        <div class="box-header with-border">
                            <h3 clas="box-title"><a :href="item.hyper_text">{{item.title}}</a></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <p class="text">{{item.text_t}} <br> ►Consultez le pro</p>
                        </div>
                        <div class="box-footer">
                            <p><a :href="item.hyper_text">{{item.hyper_text}}</a></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <form>
                <div v-if="show" class="col-md-3 col-md-offset-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                           <!-- <li class="page-item"><a class="page-link active" href="#" >1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>!-->
                            <li class="page-item">
                                <a  v-on:click.prevent="submit_filter(start+5,rows+5)"  class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                </form>
            </div>
        </div>
    </div>

</template>
<!--     <div v-for="lis in result.title">
         <app-result  :title="result.title" :text="result.text" :hyper_text="result.hyper_text"></app-result>
     </div> !-->


<script type="text/babel">
    import Side from './Side.vue'
    export default {
        data: function () {
            return {
                show:false,
                searchBar: '',
                start:0,
                rows:5,
                result: {
                    title: [],
                    text: [],
                    hyper_text: [],
                },
                //  true_result: [],
                final_result: {
                    array_result: [],
                    array_filter: [],
                    array_filter_check: []
                },
            }
        },
        mounted() {
            console.log('Search mounted.')
        },
        methods: {
            unique: function (list) {
                var result = [];
                $.each(list, function (i, e) {
                    if ($.inArray(e, result) == -1) result.push(e);
                });
                return result;
            },
            submit: function () {
                if(this.searchBar.length >0)
                this.show=true;
                else
                    this.show=false;
                this.final_result.array_result = [];
                this.final_result.array_filter =[];
                this.final_result.array_filter_check =[];
                var i = 0;
                this.$http.get('postsearch/' + this.searchBar).then(response => {
                    return response;
                }).then(data => {
                    for (let key in data.body[0].response.docs) {
                        var triple = [];
                        var obj_result = {};
                        var obj_filter = {};
                        var temp;
                        var temp_array;
                        triple.push(data.body[0].response.docs[key].title);
                        triple.push(data.body[0].response.docs[key].text_t);
                        triple.push(data.body[0].response.docs[key].sku);
                        obj_result.title = data.body[0].response.docs[key].title;
                        obj_result.text_t = data.body[0].response.docs[key].text_t;
                        obj_result.hyper_text = data.body[0].response.docs[key].sku;
                        this.final_result.array_result.push(obj_result);
                        temp = data.body[0].response.docs[key].dynamic;
                        temp_array = data.body[0].response.docs[key].dynamic.split(',');
                        this.final_result.array_filter.push(temp_array);
                        if (i == data.body[0].response.docs.length - 1) {
                            //  console.log(i);
                            var final_temp = [];
                            var length_array = this.final_result.array_filter.length - 1;
                            for (let j = 0; j < length_array; j++) {
                                var temp2 = this.final_result.array_filter[j + 1];
                                final_temp = final_temp.concat(temp2);
                            }
                            final_temp = this.unique(final_temp);
                            console.log(final_temp);
                            this.array_filter = [];
                            this.final_result.array_filter = final_temp;
                        }
                        i++;
                    }
                })
            },
            test: function () {
                console.log(JSON.stringify(this.final_result.array_filter_check));
            },
            submit_filter: function () {
                this.final_result.array_result = [];
                this.$http.get('/postcheck', {
                    params: {
                        'search_key': this.searchBar,
                        'check': this.final_result.array_filter_check,
                    }
                }).then(function (response) {
                    console.log(response.data);
                    for (let key1 in response.data[0].response.docs) {
                        var triple2 = [];
                        var obj_result2 = {};
                        triple2.push(response.data[0].response.docs[key1].title);
                        triple2.push(response.data[0].response.docs[key1].text_t);
                        triple2.push(response.data[0].response.docs[key1].sku);

                        //  obj_filter.dynamic= temp_array;
                        //  console.log(temp_array);
                        obj_result2.title = response.data[0].response.docs[key1].title;
                        obj_result2.text_t = response.data[0].response.docs[key1].text_t;
                        obj_result2.hyper_text = response.data[0].response.docs[key1].sku;
                        // triple[.response.docs[key].text_t,data.body[0].response.docs[key].sku]
                        this.final_result.array_result.push(obj_result2);
                        /*    temp = response.data[0].response.docs[key].dynamic;
                         temp_array= response.data[0].response.docs[key].dynamic.split(',');
                         this.final_result.array_filter.push(temp_array);
                         if(i == response.data[0].response.docs.length-1)
                         {
                         //  console.log(i);
                         var final_temp = [];
                         var length_array= this.final_result.array_filter.length-1;
                         for(let j = 0; j < length_array; j++)
                         {
                         //    console.log(this.final_result.array_filter[j+1]);
                         var  temp2 = this.final_result.array_filter[j+1];
                         final_temp = final_temp.concat(temp2);
                         }
                         //     console.log(final_temp);
                         final_temp= this.unique(final_temp);
                         console.log(final_temp);
                         this.array_filter = [];
                         this.final_result.array_filter= final_temp;
                         }*/
                        //
                        // this.final_result.array_result.push(data.body[0].response.docs[key].title);
                        // this.final_result.array_result.push(data.body[0].response.docs[key].text_t);
                        //   console.log(data.body[0].response.docs[key].title);
                        // console.log(obj_result.title);
                    }
                    console.log(response);
                })
            },
            components: {
                'app-side': Side
            }
        }
    }

</script>
