<template>
    <div id="leftColWrap">
        <div class="dropDown box box-solid box-primary">
            <div class="dropHeader dropOpen box-header with-border">Dynamic (15)
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus" style="color: whitev "></i></button>
                </div><!-- /.box-tools --></div>
            <div class="box-body">
                <ul>
                    <li v-for="list in message"><input type="checkbox"/> {{list}}Marketing (18)</li>
          <!--          <li><input type="checkbox"/> Achats (5)</li>
                    <li><input type="checkbox"/> Logistique (56)</li>
                    <li><input type="checkbox"/> R&D (8)</li>
                    <li><input type="checkbox"/> Fabrication (39)</li>
                    <li><input type="checkbox"/> Maintenance (47)</li>
                    <li><input type="checkbox"/> Soin (4)</li>
                    <li><input type="checkbox"/> RH (20)</li>
                    <li><input type="checkbox"/> Stratégie et mgt (57)</li>
                    <li><input type="checkbox"/> Finance (44)</li>
                    <li><input type="checkbox"/> Gestion (32)</li>
                    <li><input type="checkbox"/> Communication (22)</li>
                    <li><input type="checkbox"/> Informatique (63)</li>
                    <li><input type="checkbox"/> Innovation (53)</li>
                    <li><input type="checkbox"/> Commercial (18)</li> !-->
                </ul>
            </div>
            </ul>
        </div>
    </div>
</template>
<script type="text/babel">

    export default {
        props: ['message'],
        mounted() {
            console.log('Side mounted.')
        }
    }
</script>