/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
 
    Author     : gaurav jadhav
*/

*{
    margin:0px;
    padding:0px;
}
body{
    font-size: 14px;
    font-family: sans-serif;
}
#wrapper
{
    width:100%;
    overflow:hidden;
    
}

#logo{
    width:100%;
    text-align: center;
}

#searchArea{
    width:600px;
    margin:30px auto;
}

#searchBar{
    width:80%;
    padding:8px 10px;
    vertical-align: middle;
    font-size:1em;width: 80%;
    padding: 9px 10px;
    vertical-align: middle;
    font-size: 1em;
    border: 1px solid #d8d8d8;
}

#searchButton{
    padding: 9px 10px;
    font-size: 1em;
    background: #4c72bd;
    color: #fff;
    border: 1px solid #5479c1;
    border-radius: 2px;
    vertical-align: middle;
    width:15%;
    text-align:center;
    cursor:pointer;
}

#searchBar:focus
{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.09);
}

input:focus{
    outline:none;
}

.searchResultWrap
{
    padding:30px 0px;
}

.homeResultWrap
{
    padding: 140px 0 0;
}

#resultColWrap{width:100%;overflow: hidden;}
#leftColWrap{width: 19%;
    float: left;
    padding-right: 10px;}
#rightColWrap{width:80%;float:right;}

.result h3 a{color: #5277c0;font-size: 1.05em;text-decoration: none;}
.result h3 a:hover{color:#2a6496;text-decoration: underline;}
.resultKey {
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(204, 121, 0);
    padding: 5px 0px;
}

.text {
    font-size: 0.89em;
    color: #4a4a4a;
    line-height: 1.5em;
    margin-bottom: 3px;
}

.resultLink {
    text-decoration: none;
    color: #4a5c7f;
    font-size: 0.9em;
}

.result {
    margin-bottom: 30px;
    padding-right: 50px;
}

.dropHeader {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
    font-weight: bold;
    background: #f1f1f1;
    color: #334e81;
    margin-bottom: 5px;
}

.dropDown ul{
    padding:0px 10px;
    font-size: 0.9em;
}

.dropDown ul li
{
    padding:2px 0px;
}

.dropOpen .dropArrow{
    background: url(../img/up_arrow.svg) center center;
    width: 28px;
    height: 28px;
    float: right;
}