<template>
    <div>
        <app-search></app-search>
    </div>
</template>
<script type="text/babel">
    import Search from './components/Search.vue'
    export default {
        components: {
            'app-search': Search,
        },
        mounted() {
            console.log('App mounted.')
        }
    }
</script>