<template>
    <div class="result"> 
        <h3> 
            <a href="javascript:void(0)">  École du management et des ressources humaines | Portail
                de la Fonction publique</a> 
        </h3> 
        <p class="resultKey">{{title}}
        </p> 
        <p class="text">  Les troisièmes rencontres professionnelles de
            l'École du management et des ressources humaines  (EMRH) débuteront à Paris le 26 septembre 2016 (centre
            Pierre
            Mendès France, 139 rue de Bercy  75012 Paris), pour une journée entière, sur le thème Accompagner les cadres
            dans l’exercice de  la fonction managériale - Quels dispositifs mettre en œuvre ? Quels résultats en
            attendre ?
            .  ►Consultez le pro  </p> 
        <a
                href="http://www.fonction-publique.gouv.fr/ecole-management-et-des-ressources-humaines"  
                class="resultLink">http://www.fonction-publique.gouv.fr/ecole-management-et-des-ressources-humaines</a> 
    </div>
</template>

<script type="text/babel">
    export default{
        props:['titlelm'],
        mounted() {
            console.log('Result_layout mounted.')
        }
    }
</script>